name: Jekyll Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build Jekyll site with Docker
        run: |
          docker run \
            -v ${{ github.workspace }}:/srv/jekyll \
            jekyll/builder:latest \
            jekyll build
